.father {
    width: 100%;
    height: 100vh;
    background-color: black;

    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.children {
    width: 400px;
    height: 400px;
    background-color: red;
    position: absolute;

    /* margin: 0 auto; */
}